{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<main>
<div class="d-flex flex-row">
    {% include "account/footer.html" %}
    <div id="ordered">
        <div class="order_info">
            <span >All</span>
            <span class="mx-4">Received</span>
            <span>Delivering</span>
            <span class="mx-4">successful delivery</span>
            <span class="mr-4" >Canceled</span>
        </div>
        {%for object in order %}
        {% for order_item in object.items.all %}
        <div class="order">
            
            <div class="d-flex justify-content-between mr-3 ml-3">
            <span>ref code: {{object.ref_code}}</span>
            <span>{% if object.canceled == True %}Canceled{% elif object.received == True %}successful delivery{% elif object.being_delivered == True and object.received == False %}Delivering {% else %}waiting for the goods{% endif %}</span>
            </div>
            <div class="order_success" >
                <div><a href="{% url 'product:product' order_item.product.slug %}"><img src="{{ order_item.product.image.url }}" alt="" width="70px"   class="border p-1"></a></div>
                <div class="order_item">
                <div><span>{{ order_item.product.item }} {{ order_item.product.memory }}GB</span></div>
                <div><span>{{ order_item.product.color }}</span></div>  
                <div class=" px-2 "><span>x{{ order_item.quantity }}</span></div>        
                </div>
                <div class="order_price">
                    <del>${{ order_item.product.price }}</del>  
                    <span class="mx-1 text-danger">${{ order_item.discount_price_item }}</span>
                </div>
                <div class="order_price">
                {%if object.canceled == False and object.received == False %}
                    <div><span class="cancel waves-effect">cancel</span></div>
                    <div class="cancel_order">
                        <div class="form_cancel">   
                            <form action="{% url 'app_user:cancel' %}" method="POST">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{object.id}}">
                                <div class="pb-2"><span> Vui lòng chọn lí do hủy đơn hàng. Lưu ý: Thao tác này sẽ hủy tất cả các sản phẩm có trong đơn hàng và không thể hoàn tác.</span></div>
                                {{ form|crispy }}
                                {% if forloop.last  %}
                                <div class="justify-content-end d-flex">
                                <button type="submit" class="btn btn-info mx-2">Xác nhận</button>
                                <button type="buttom" class="btn btn-dark not_cancel">Không phải bây giờ</button>
                                </div>
                                {% endif %}
                            </form>
                        </div>
                    </div>
                    {% endif %}  
                </div>
            </div>
            <div>
                
            </div>
        </div>    
        {% endfor %}
        {% endfor %}  
    </div>
</div>
</main>
<script>
let cancel = document.querySelectorAll('.cancel')
let cancel_id=document.querySelectorAll('.cancel_order')
let form_cancel = document.querySelectorAll('.form_cancel')
let not_cancel = document.querySelectorAll('.not_cancel')
for(let i=0;i<cancel.length;i++){
cancel[i].onclick=()=>{
for(let j=0;j<cancel_id.length;j++){
if(i===j){
cancel_id[j].classList.add('cancel_order-active')
form_cancel[j].style.display="block"
}}
}}

for(let i=0;i<not_cancel.length;i++){
not_cancel[i].onclick=()=>{
for(let j=0;j<cancel_id.length;j++){
if(i===j){
cancel_id[j].classList.remove('cancel_order-active')
form_cancel[j].style.display="none"
}}
}}
</script>
{% endblock %}