{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<main style="background: #f8f8f8;" class="p-2 pt-3" > 
        
    <div class="d-flex flex-row">
    {% include "account/footer.html" %}
        <div class="info_customer">
            {{customer.name}}
            <div class="d-flex flex-column">
                <div>
                <h5>My profile</h5>
                <p>Manage profile information for account security</p>
                </div>
                <form action="{% url 'app_user:profile' %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="profiles">
                        {{profile_form|crispy}}
                        <div class="image_quynh"><img id="img-previews" src='{{user.customer.image.url}}'/></div>
                    </div>
                    
                    <button class="btn btn-primary profile-button" >Save Profile</button>
                </form>
                
            </div>    
        </div>
    </div>
</main> 

   
<script>



    document.getElementById("id_image").onchange=   function previewFile() {
        const imgPreview = document.getElementById("img-preview");
        const imgPreview1 = document.getElementById("img-previews");
        const chooseFile = document.getElementById("id_image").files[0];
        const reader = new FileReader();
      
        reader.addEventListener("load", function () {
          // convert image file to base64 string
          imgPreview.src = reader.result;
          imgPreview1.src = reader.result;
        }, false);
      
        if (chooseFile) {
          reader.readAsDataURL(chooseFile);
        }
      }
  //# sourceURL=pen.js
      
  //# sourceURL=pen.js
</script> 
{% endblock %}