{% extends "account/base.html" %}
{% block content %}
{% load crispy_forms_tags %}
<div class="main"> 
  <div class="mt-5"></div>
  {{user.is_active}}
 {% if user.is_active == False %}
 
  <div class="alert" role="alert">
    <div class="message">
    <i class="fas fa-check-circle"></i>
    <span style="color: #fcfcfc;">please check email to enter otp</span>
    </div>
  </div>
  <div class="signup">
    <form method="POST">
      {% csrf_token %}
      <input type="hidden" name="first_name" value="{{user.username}}">
      
      <div class="d-flex flex-column  pb-4">
        <h5 class="float-left mb-3">Please Enter Verification Code</h5>
        <p>Your verification code will be sent by text message to email {{user.email}}</p>
        <div  class="my-2">
          <input type="text" class="form-control" placeholder="Enter Your OTP" aria-label="OTP"  name ='otp' required pattern="[0-9]{6}">
        </div>
        <div class="adc">
        Please wait <span id='countdown'></span>s to resend 
        </div>
      </div>  
      <div class=" d-flex flex-column justify-content-between">
        
        <div class="d-none send">
          <p>You did not receive the code?</p>
          <a href="#" class="text-danger sentotb" onclick="ReSendOTP('{{user.username}}', 'resendOTPmess')"><i id="resendOTPmess">Resend</i> OTP</a>
          <span class="text-dark">or</span><a href="" class="text-danger"> try another verification method</a>
        </div>
      </div>
      <div  class="my-2"><button class="btn btn-info form-control" type="submit">Verify</button></div>
       
      
    </form>
  </div>
  {%else%}
    <div class="signup ">
      <h5 class="mb-3">Signup</h5>
        <form method="POST" >
             {% csrf_token %}  
          <div class="form-group">  
            <label for="username">Username:</label>  
            <input type="text" class="form-control" id="username" placeholder="Enter username" name="first_name">  
          </div>  
          <div class="form-group">  
            <label for="email">Email:</label>  
            <input type="email" class="form-control " id="email" placeholder="Enter email" name="email">  
          </div>  
          <div class="form-group">  
            <label for="pwd1">Password:</label> 
            <div class="anh">
              <input type="password" class="form-control form1" id="pwd1" placeholder="Enter password" name="password1">
              <span toggle="#password-field" class="fas fa-fw fa-eye-slash mr-1 field-icon toggle-password"></span>
            </div>
          </div>   
          <div class="form-group">  
            <label for="pwd2">Confirm Password:</label>
            <div class="anh">
              <input type="password" class="form-control form1" id="pwd2" placeholder="Reenter password" name="password2">  
              <span toggle="#password-field" class="fas fa-fw fa-eye-slash field-icon mr-1 toggle-password"></span>
            </div>
            
          </div>  
          <input type="submit" value="Register" class="btn btn-primary ">
           
        </form>
        <div class="my-3">
          <p>Have an account? <a href="{% url 'app_user:signin' %}" class="m-2 text-dark">Login</a></p>
        </div>  
    </div>
   {%endif%}
  </div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script type="text/javascript">
  function ReSendOTP(username,mess ) {
    mess = document.getElementById(mess);
    mess.innerText = "Sending...";
    $.ajax({
      type: 'GET',
      url: '/account/resendOTP',
      data: {first_name:username},
      success: function(data){
        mess.innerText = data;
      }
    })
  }
</script>
<script>
   timeSecond = 60;
   adc=document.querySelector('.adc')
   timeH = document.querySelector("#countdown");
   resendOTPmess=document.querySelector("#resendOTPmess");
   
   resendOTPmess.onclick= ()=>{
    adc.style.display="block"
    document.querySelector('.send').classList.add('d-none')
    var time=60
    countDown = setInterval(() => {
      time--;
      displayTime(time);
      if (time == 0) {
        clearInterval(countDown);
        adc.style.display="none"
        document.querySelector('.send').classList.remove('d-none')
      }
    }, 1000);
   }
   
  displayTime(timeSecond);
  
   countDown = setInterval(() => {
    timeSecond--;
    displayTime(timeSecond);
    if (timeSecond == 0) {
      clearInterval(countDown);
      adc.style.display="none"
      document.querySelector('.send').classList.remove('d-none')
    }
  }, 1000);
  
  function displayTime(second) {
     
     sec = Math.floor(second % 60);
    timeH.innerHTML = `${sec < 10 ? "0" : ""}${sec}`;
  }
  
  
  
  // *********************
  // This Code is for only the floating card in right bottom corner
  // **********************
    </script>
  <script type="text/javascript">
    
    
    
    

      input=document.querySelectorAll('.form1')
      eye=document.querySelectorAll('.fa-eye-slash')
      for(let i=0;i<eye.length;i++){
      eye[i].onclick=()=>{
        for( let j=0;j<input.length;j++){
        if(i===j){
        if(input[j].type==="password"){
          input[j].type="text"
          eye[i].classList.add("fa-eye");
          eye[i].classList.remove("fa-eye-slash");
        }
        else{
        input[j].type="password"
        eye[i].classList.remove("fa-eye");
        eye[i].classList.add("fa-eye-slash");}
      }
    }
  }
}
</script>
{% endblock  %}