/* Required height of parents of the Half Page Carousel for proper displaying carousel itself */
:root{
	--orange:#ffa500;
	--swiper-navigation-size: 20px;
  }
html,
body,
.view {
  height: 100%; }
  .img-fluid, .modal-dialog.cascading-modal.modal-avatar .modal-header, .video-fluid {
    max-width: 80%;
    height: auto;
}
a{
text-decoration:none ;
color: gray;
}
a:hover{
	text-decoration:none ;
	color: #0080ff;
	background: #dbdbdb;
	}
.description{
font-weight: 500;
color: black;
}
/*----------------------- order_sumary -----------------------------!>*/
.review-slider .cats{
text-align: center;
border-radius: .5rem;
border: 1px solid #dbdbdb;
transition: 0.3s;
height: 380px;
background: white;
margin-bottom: 2rem;

}
.item_order{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	
	max-height: 35rem; /* so that items wrap */
}
.item_order > div:not(:first-child){
flex: 1 1 3rem;
padding: 1rem 0;
text-align: start;
}
.item_order > div:first-child {
	
	padding: 1rem;
	text-align: start;
	}

.sliders{
width: 830px; 

position: relative;
}

.carts{
	text-align: center;
	background: white;
	border-radius: .5rem;
	transition: 0.3s;
	height: 390px;
	border: 1px solid #e0e0e0;
}

.category-slider{
	padding-bottom: 15px;
	position: relative;
	overflow: hidden;
	flex:1 1 97rem;
	border-radius: .5rem;
}

.category-slider .swiper-pagination{
position: absolute;
top:270px;
}
  .swiper-pagination-bullet{
  padding: 6px;
  background: gray;
  opacity: 1;
  }
  .swiper-pagination-bullet-active{
  background: var(--orange);
  
  }
.swiper-button-prev{
	left:-12px;
	background:rgba(0,0,0,.7);
	padding: 12px;
	border-radius: 50%;
	width: 15px;
	right: auto;
	color: white;
	transition: all 0.2s;
	}

.swiper-button-next{
	left:auto;
	background:rgba(0,0,0,.7);
	padding: 12px;
	border-radius: 50%;
	right:-12px;
	color: white;
	font-size: 15px;
	transition: all 0.2s;
	}

.category-slider .prev{
		left:-200%;
		padding: 1rem;
		z-index: 10000;
		}
	
.category-slider .next{
		padding: 1rem;
		right:-200%;
		z-index: 10000;
		}
.category-slider:hover .swiper-button-next{	
	right:0;
			}
.category-slider:hover .swiper-button-prev{
	left:0;
}

.swiper-button-next:after, .swiper-button-prev:after {	
font-size: 12px;
text-transform: none!important;
line-height: 1;
}

.slider .swiper-button-next:hover,.slider .swiper-button-prev:hover{
	transform: scale(1.5); 
}
#div_id_image div{
display: none;
}
.review-slider,.category_slider{
	overflow: hidden;
	margin: 0 auto;
	
	background-color:#fcfcfc;
	height: 380px;
	border-radius: .5rem;
}
.slider{
position: relative;
}
/*----------------------- order_sumary -----------------------------!>*/
.dark-text{
text-decoration: none;
color: #333333;
font-size: 18px;
}
.card{
height: 450px;
}
.images{
width: 50px;
margin-right: 1rem;
border: 1px solid grey;
padding: 0.4rem 0.2rem;
}
.images-active{
border-color: orange;
  }

.image_big{
width: 400px;
height: auto;
}
.card-active{
  transform: scale(1.01);
}
.view {
  position: relative;
  
  cursor: default;
}
.image{
transition: 0.6s;
}
/*-----------------------------------navbar---------------------------*/
#nav,#navs{
position: relative;

}

#navbar{
background-color: #fcf05c;
}
.nav-item{
height: 30px;
}
.log{
	display: none;
	position: absolute;
	top: 90%;
	right: 0;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	padding: 1rem auto;
	width: 150px;
	z-index: 1000;
	height: 100px;
	background: white;
	}
#notify{
	position: absolute;
	top: -3px;
	left: -3px;
	padding: 2px;
	background-color: #e74c3c;
	color: #fff;
}	
#notification-container{
position: absolute;
top: 100%;
right: 0;
background-color: wheat;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
padding: 2rem auto;
width: 250px;
z-index: 1000;
}
.log-active{
	display: flex;
	flex-direction: column;
}

.log:before,.cart_view:before{
	content: "";
	border: .7rem solid;
	position: absolute;
	top: -1.4rem;
	right: 22px;
	border-color: transparent transparent rgb(247, 246, 242) transparent;
	}
.filter:before,.filter1:before{
	content: "";
	border: .6rem solid;
	position: absolute;
	top: -1.2rem;
	left: 22px;
	border-color: transparent transparent white transparent;
}	
.log span{
	margin-left: 20px;
	margin-top: 0.1rem;
	color:gray;
	}
	.log span:hover{
		
		color:blue
		}

#cart_view{
position: relative;
	}

.cart_view{
	display: none;
	position: absolute;
	top: 110%;
	right: 0;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	padding: 3rem auto;
	background: #fff;
	width: 300px;
	z-index: 1000;
}
		
.cart_view img{
	width: 40px;
	height: 40px; 
	}
.fa-twitter,.fa-facebook{
font-size: 15px;
border-radius: 5px;
background-color:blue;
color: white;
padding: 6px 12px;
font-style: none;
}
.cart_view-active{
	display: block;
	}
/* navbar*----------------------------*/
.color{
margin-left: 2.3rem;
}
p {
    margin-top: 0;
    margin-bottom: .5rem;
}
.ram_s{
border-radius: 5px;
border: 1px solid grey;
padding: .3rem .6rem;
}
.ram_s:hover{
	border: 1px solid orange;
	}


#row {
    margin-top: 1rem;
}

.order-details {
	position: relative;
	padding: 0px 30px 30px;
	border-right: 1px solid #E4E7ED;
	border-left: 1px solid #E4E7ED;
	border-bottom: 1px solid #E4E7ED;
  }
  
  .order-details:before {
	content: "";
	position: absolute;
	left: -1px;
	right: -1px;
	top: -15px;
	height: 30px;
	border-top: 1px solid #E4E7ED;
	border-left: 1px solid #E4E7ED;
	border-right: 1px solid #E4E7ED;
  }
/* product*----------------------------*/
.fa-star{
font-size: 12px;
color: orange;
}
#mySlides {
position: relative;
}

.mySlides {
	display: none;
  }

  .prev,
  .next {
	cursor: pointer;
	position: absolute;
	top: 40%;
	width: auto;
	padding:6px  10px;
	color: white;
	font-weight: bold;
	font-size: 20px;
	border-radius: 0 3px 3px 0;
	text-decoration: none;
  }
  
  /* Position the "next button" to the right */
  .next {
	right:0;
	border-radius: 3px 0 0 3px;
	background-color: #b4b4b4;
  }
  .prev{
	left: 0;
	border-radius: 3px 0 0 3px;
	background-color: #b4b4b4;
  }
  .prev:hover,
  .next:hover {
	background-color: rgba(0, 0, 0, 0.8);
	color: #fff;
	text-decoration: none;
  }

.parameter{
display: flex;
flex-direction: row;
justify-content:space-between;
width: 250px;
  }
.input-group {
	width: 120px;
}

button {
border-radius: 0;
	}
.btn-minus {
background: #e74c3c;
font-size: 12px;
	}
	.btn-minus i{
		
		font-size: 10px;
	  }
	.btn-plus {
	  background: #2ecc71;
	  font-size: 12px;
	}

	.btn-plus i {
		background: #2ecc71;
		font-size: 10px;
	  }
	input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.order_total{
position: sticky;

padding: 1.5rem;
bottom: 0;
margin-bottom: 2rem;
z-index: 10;
background: #fff;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
text-align: center;
}
.shop{
	display: flex;
	flex-direction: row;
	padding: 1.5rem;
	align-items: center;
	margin: 2rem 0;
	z-index: 10;
	background: #fff;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	text-align:start;
	
	}

.follower{
display: flex;
flex-direction: row;
width: 400px;
}
.follower  div{
flex: 1 1 30rem;
margin-right: 2rem;
margin-left: 2rem;
}
.shop > div{
flex:2 1 35rem;
padding: 0 2rem;
margin-right: 3rem;
}
.blacks,.black1{
	position: fixed;
    top: -120;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2999;
	background-color: #333333;
	opacity: 0.9;
}
.black-active,.black1-active{
top:0;

}
.cart,.review_rating_choice{
position: fixed;
background: #fff;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
padding: 1rem;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
height: 380px;
width: 380px;
display: none;
overflow: auto;
border-radius: 5px;
z-index: 10000;
opacity: 1;
max-height: 90%;
}
.review_rating_choice{
width: 40%;
}
.cart div h5{
color: goldenrod;
}
#times,#times1{
position: absolute;
right: 10px;
top: 10px;
font-size: 30px;
cursor: pointer;
}
.cart-active{
display: block;
}
.color_product{
display: flex;
flex-flow: row;
padding: 10px 0 0 0;
justify-content: left;
justify-items: center;
}
.images_color{
margin-left: 5px;
width: 50px;
}
.image_color{
padding: 3px 2px;
width: 50px;
border: 1px solid gray;
border-radius: 5px;
}

.image_colors{
	padding: 3px 2px;
	width: 50px;
	border: 1px solid gray;
	border-radius: 5px;
	}

.image_colors-active,.image_color-active{
border: 1.5px solid blue;
}

.circle {
	border: 1px solid gray;
	border-radius: 50%;
	position: relative;
	width: 14px;
	height: 14px;
	line-height: 15px;
	z-index: 86;
}
.circle:before {
	display: none;
	background-color: orange;
	content: "";
	position: absolute;
	border-radius: 50%;
	width: 8px;
	height: 8px;
	left:2px ;
	top: 2px;
  }
.circle-active{
border: 1px solid peru;
padding: .1rem;
}
.comment{
padding: 4px 0 1rem .2rem;
border-left: 4px solid gray;
margin-left: 1rem;

}

.like_comment,.dislike_comment{
font-size: 13px;
color: grey;
border: none;
outline: none !important;
display: block;
background-color: white;
cursor: pointer;
text-decoration: none;
}
.like_comment:hover{
text-decoration: none;
}
.likes{
	display:block;
    background-color: #fff;
    color:#0080ff;
    border: none;
    outline:none !important;
	font-size: 13px;
}
.text_like{
font-size: 13px;
}


/*-------------------------search------------------------*/

.example-active{
border: 1px solid #2ce679 ;
}
.review-rating i{
color: orange;
}

.image-active{
transform: translateY(-.5rem);

}

#filter,#filter1,#cart{
position: relative;
font-size: 20px;
}

.text,.text1{
padding: .2rem 1rem 0.3rem 0.5rem;
border: .5px solid #b4b4b4;
border-radius:5px;
}

.count{
position: absolute;
padding: 0px 0.3rem;
color: white;
font-size: 11px;
background-color: orange;
top: 0%;
right:5px;
border-radius: 50%;
}
.search,.ddd{
	border: none;
	outline: none;
	background-color: #fff;
}
.ddd{
	width: 250px;
}
.counts{
	position: absolute;
	padding: 0.1px 0.2rem;
	color: white;
	font-size: 13px;
	background-color: orange;
	top: 0%;
	left:13px;
	border-radius: 50%;
	}
.waves-effect{
	cursor: pointer;
	text-decoration: none;
	}
.waves-effect:hover{
		cursor: pointer;
		text-decoration: none;
		}
	
.text-active{
border: .5px solid blue;
}

.filter,.filter1{
display: none;
position: absolute;
top: 120%;
left: 0;
background-color:white;
box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
padding-top: .5rem;
padding: .4rem .4rem;
padding-bottom: .6rem;
z-index: 10000;
width: 250px;
}

.review{
margin-bottom: .4rem;
padding: 0.4rem 0.5rem;
}

.filter-active{
display: flex;
flex-wrap: wrap;
justify-content: left;
}
.ram,.minotor,.performance,.battery,.price,.review,.memory{
border: 0.5px solid #b4b4b4;
border-radius: 3px;
padding: .2rem .5rem;
font-size: 1rem;
margin-right: .5rem;
margin-top: .4rem;
}

.ram-active,.minotor-active,.performance-active,.battery-active,.price-active,.review-active,.memory-active{
	border: 0.5px solid blue;
	color: black;
	}

/*-------------------------------search------------------------------------*/
/*-------------------------------order------------------------------------*/
.order,.order_product{
display: flex;
flex-direction: column;
margin: 1rem ;
padding: 1rem 5px;
flex-wrap: nowrap;
box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
}
.order_product{
margin: 2rem 0;
margin-bottom: 2rem;
}
.info{
display: flex;
flex-direction: column;
flex: 1 1 16rem;
margin: 1rem 0 1rem 3rem;

}
#ordered{
display: flex;
flex-direction: column;
flex: 1 1 30rem;
padding: 1rem 3rem;
margin:0 3rem ;
background-color:#fff
}
.order_info{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin: 1rem ;
	padding: 1rem 5px;
	flex-wrap: nowrap;
	box-shadow: 0 .5rem .5rem rgba(0,0,0,.1);
	
	}
.order_success{
display: flex;
flex-direction: row;
justify-content: space-between;
border-top: 1px solid;
margin: 1rem ;
padding: 1rem 0;
}
.order_item{
display: flex;
flex-direction: column;
flex: 1 1 25rem;
margin: 0 1rem;
}
.order_price{
margin: auto 1rem;
display: flex;
flex-direction: row;
justify-content: end;
}
#cancel{
flex:1 1 10rem
}

#img-preview {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	display: block;
	border: 1px solid gray;
  }

  #img-shop {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	border: 1px solid gray;
  }
#img-preview2 {
	width: 20px;
	height:20px;
	border-radius: 50%;
	display: inline-block;
	border: 1px solid gray;
  }
#img-previews {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	display: block;
	border: 1px solid gray;
  }
/*--------------------------profile-------------------------*/
  [type="file"] {
	height: 0;  
	width: 0;
	overflow: hidden;
  }
  [type="file"] + span {
	font-family: sans-serif;
	background: #f44336;
	padding: 10px 30px;
	border: 2px solid #f44336;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s;
  }
  [type="file"] + label:hover {
	background-color: #fff;
	color: #f44336;
  }

.address,.cancel_order{
	position: fixed;
    top: -120;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2999;
	background-color: #333333;
	opacity: 0.9;
}
.address-active,.cancel_order-active{
	top:0
}
.address_update,.form_cancel{
	position: fixed;
	background: #fff;
	box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
	padding: 2rem;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 480px;
	width: 500px;
	display: none;
	border-radius: 5px;
	z-index: 10000;
	opacity: 1;
	max-height: 90%;
}
.image_profile{
display: flex;
flex-direction: column;
border-left: 1px solid;
align-items: center;
margin: 2rem 2rem;
padding-left: 5rem;
}
.profile{
display:flex;
flex-direction: row;
margin-left: 1rem;
justify-content: center;
}
.text-user{
text-align: center;
}
.info_customer{
display: flex;
flex-direction: row;
flex: 1 1 40rem;
justify-content: space-between;
padding:0 10rem;
}
.profiles{
	position: relative; 
}

#div_id_image {
	position: absolute;
	top:50%;
	right: -80%;
	width: 80px;
	display: flex;
	justify-content: center;
	padding: 2rem;
	z-index: 1000;
	
}
#div_id_image label{
	font-family: sans-serif;
	background: #f44336;
	padding: 8px 20px;
	border: 2px solid #f44336;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	transition: all 0.2s;
}
  
  .image_quynh{
	position: absolute;
	top:5%;
	right: -80%;
	border-left: 1px solid;
	width: 100px;
	margin-left: 2rem;
	padding:5rem 5rem 10rem 5rem ;
	
	
  }
  #div_id_gender div{
display: flex;
flex-direction: row;

  }

.aaaa{
	background: #fffefb;
    box-shadow: 0 1px 1px 0 rgb(0 0 0 / 5%);
    border-top: 1px solid #f1f0ed;
    justify-content: end;
    display: grid;
    grid-template-columns: 150px 100px ;
    grid-template-rows: 30px 30px;
}
/*--------------------------------order------------------------------------*/

/*--------------------------------product------------------------------------*/
.share{
display: flex;
flex-wrap: wrap;
align-items: center;
}
.div img{
  width: 100px;
  height: 100px;
  background: red;
  position: relative;
 
}
.div img-active{
  transform: translateY(1rem);
}

.rating{
	border: none;
	float: left;
}

.like{
	display:block;
    background-color: #fff;
    color:red;
    border: none;
    outline:none !important;
	font-size: 1.5rem;
	line-height: 80%;
}
  
.rating > input{
	display: none;
}
.label_like:before{
	content: '\f004';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}
.rating > label:before{
	content: '\f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1.5rem;
	display: inline-block;
	cursor: pointer;
}

.rating > .half:before{
	content: '\f089';
	position: absolute;
	cursor: pointer;
}
.review_rating{
color: orange;
}

.rating > label{
	color: #ddd;
	float: right;
	cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label-active, 
.rating:not(:checked) > label-active ~ label{
	color: #2ce679;
}
.nav{
justify-content: center;
}
.nav li a{
margin-right: 1rem;
align-items: center;
}
.border-li{
padding: 0.3rem .2rem;

}

.rate {
display:flex;
flex-direction: column;
}
h4:not(:last-child){
background: #ddd;
width: 100%;
padding: 0.4px;
margin: auto;
}

.cols{
	border: none;
	float: left;
}

.cols > input{
	display: none;
}

.cols label {
	display: inline-block;
	margin-bottom: .5rem;
	color: orange;
}


.cols label:nth-of-type(1):before{
  	content: '\f005 \f005 \f005 \f005 \f005';
	font-family: FontAwesome;
	margin: 5px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}
.cols label:nth-of-type(2):before{
  content: '\f005 \f005 \f005 \f005 \f006';
  font-family: FontAwesome;
	margin: 5px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}
.cols label:nth-of-type(3):before{
  content: '\f005 \f005 \f005 \f006 \f006';
  font-family: FontAwesome;
	margin: 5px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}
.cols label:nth-of-type(4):before{
  content: '\f005 \f005 \f006 \f006 \f006';
  font-family: FontAwesome;
	margin: 5px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}
.cols label:nth-of-type(5):before{
  content: '\f005 \f006 \f006 \f006 \f006';
  font-family: FontAwesome;
	margin: 5px;
	font-size: 1rem;
	display: inline-block;
	cursor: pointer;
}

.table td, .table th{
text-align: center;
}

/*-----------------------------------------product-------------------------*/

.md-form{
position: relative;
margin: 1rem auto;
}

.infomation{
position: absolute;
top: -9px;
left: 10px;
font-size: 12px;
color: rgba(0,0,0,.4);
padding: 0 3px;
background: #fff;
}

.view,body,html{height:100%}.carousel{height:50%}.carousel .carousel-inner,.carousel .carousel-inner .active,.carousel .carousel-inner .carousel-item{height:100%}@media (max-width:776px){.carousel{height:100%}}.page-footer{background-color:#929FBA}
/* Half Page Carousel itself*/
.carousel {
  height: 50%; }
  .carousel .carousel-inner {
    height: 100%; }
    .carousel .carousel-inner .carousel-item,
    .carousel .carousel-inner .active {
      height: 100%; }

/* Adjustment for mobile devices*/
@media (max-width: 776px) {
  .carousel {
    height: 100%; }
	#column{
	display: flex;
	flex-direction: column;
	}
	.flex-row{
	display: flex;
	flex-direction: column;
   }
   }
  
   
/* Footer color for sake of consistency with Navbar */
.page-footer {
  background-color: #929FBA; }
