{% extends "base.html" %}

{% block content %}
<main>
    <div class="container">
    
      <ul class="navbar-nav mr-auto  d-flex flex-row justify-content-center ">
            {% for i in category %}
            <li class="nav-item active mx-2">
                <a href="{{ i.get_absolute_url }}">{{i.category}}</a>
            </li>
            {% endfor %}
      </ul>
      <div class="d-flex flex-row justify-content-between my-2" id="column">
        <div class="swiper-container category-slider">
          <div class="swiper-wrapper">
            <div class="swiper-slide category_image">
              <a href="">
              <img src="https://cdn.tgdd.vn/2021/08/banner/reno6cb-830-300-830x300.png" alt="" >
              </a>
            </div>
            <div class="swiper-slide category_image">
              <a href="">
                <img src="https://cdn.tgdd.vn/2021/09/banner/830-300-830x300-2.png" alt="" >
              </a>
            </div>
            <div class="swiper-slide category_image">
              <a href="">
                <img src="https://cdn.tgdd.vn/2021/08/banner/830-300-830x300-4.png" alt="" >
              </a>
            </div>
            <div class="swiper-slide category_image">
              <a href="">
              <img src="https://cdn.tgdd.vn/2021/09/banner/dhtt-830-300-830x300.png" alt="" >
              </a>
            </div>
            <div class="swiper-slide category_image">
              <img src="https://cdn.tgdd.vn/2021/09/banner/fip3sl-830-300-830x300.png" alt="" >
            </div>
            <div class="swiper-slide category_image">
              <img src="https://cdn.tgdd.vn/2021/08/banner/830-300-830x300-3.png" alt="" >
            </div>
            <div class="swiper-slide category_image">
              <img src="https://cdn.tgdd.vn/2021/09/banner/830-300-830x300.png" alt="" >
            </div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next next"></div>
          <div class="swiper-button-prev prev"></div>
        </div>
        <div class=" ml-3">
          <img src="https://cdn.tgdd.vn/2021/06/banner/Group3913-340x340.jpg" alt="" width="150px" class="">
          <img src="https://cdn.tgdd.vn/2021/08/banner/laptopdesk-340x340-4.jpg" alt="" width="150px" >
          <img src="https://cdn.tgdd.vn/2021/09/banner/laptopdesk-340x340-1.jpg" alt="" width="150px" >
          <img src="https://cdn.tgdd.vn/2021/09/banner/Frame39592x-340x340.png" alt="" width="150px" >
        </div>
      </div>
      <div class='row wow  my-3' id="row">
        {% for item in product %}
        <div class="col-6 col-lg-3 col-sm-6 col-md-3" >
          <div class="carts">
            <a href="{{ item.get_absolute_url }}">
                <div class="image">
                  <img src="{{ item.image.url }}" class="card-img-top mt-3">    
                </div>
            </a>
            <div class=" text-center">
              <a href="{{ item.get_absolute_url }}" style="text-decoration: none"><span class="text-dark">{{ item.name }} </span></a>   
              <p style="font-size: 1rem;">$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
              </p>
              
              <div class="product-rating">
                  <i class="{% if item.avaregereview < 0.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 1.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 2.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 3.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 4.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                      <!-- next line is for average value -->
                  {{ item.avaregereview |stringformat:".0f"}}
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
      {% for i in category %} 
      <span class="h4">{{i.category}} Standout</span>
      <div class='row wow  my-3' id="row">
          {% for product in i.item_set.all %} 
          {% for item in product.variant_set.all %}
          {% if item.stand_out == True %}
          <div class="col-6 col-lg-3 col-sm-6 col-md-3" >
            <div class="carts">
              <a href="{{ item.get_absolute_url }}">
                  <div class="image">
                    <img src="{{ item.image.url }}" class="card-img-top mt-3">    
                  </div>
              </a>
              <div class=" text-center">
                <a href="{{ item.get_absolute_url }}" style="text-decoration: none"><span style="font-size: 1rem;">{{ item.name }} </span></a>   
                <p style="font-size: 1rem;">$
                    {% if item.discount_price %}
                    {{ item.discount_price }}
                    {% else %}
                    {{ item.price }}
                    {% endif %}
                </p>
                
                <div class="product-rating">
                    <i class="{% if item.avaregereview < 0.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                    <i class="{% if item.avaregereview < 1.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                    <i class="{% if item.avaregereview < 2.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                    <i class="{% if item.avaregereview < 3.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                    <i class="{% if item.avaregereview < 4.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                        <!-- next line is for average value -->
                    {{ item.avaregereview |stringformat:".0f"}}
                </div>
              </div>

            </div>
          </div>
          {% endif %}   
          {% endfor %}
          {% endfor %}
      </div>
      {% endfor %}
    </div>
</main>
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
<script>
  var swipers = new Swiper(".category-slider", {
    spaceBetween: 20,
    loop:true,
    autoplay:true,
    pagination: {
      el: ".swiper-pagination",
      clickable:true,
    },
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
    breakpoints: {
      400: {
        slidesPerView: 1,
      },
      640: {
        slidesPerView: 1,
      },
      768: {
        slidesPerView: 1,
      },
      1024: {
        slidesPerView: 1,
      },
  },
});   
    
</script>
{% endblock content %}