{% extends "base.html" %}

{% block content %}
<main>
  <div class="container">
    <!--Section: Products v.3-->
    <section class="text-center my-4">
      <div class="navbar-nav d-flex flex-row justify-content-center ">
          <div class=" mr-2" id="filter1">
            <div class=" waves-effect">
              <div class="text1">
                <span>Filter</span>
                <i class="fa fa-filter ml-1"></i>
                <strong class="count">{{ products_count }}</strong>
              </div>        
            </div>
            <!-- grouper distinct value-->
            <div class="filter1">
            </div>
          </div>
          <div class=" mr-2" id="filter">
            <div class=" waves-effect">
              <div class="text">
                <span class="text_ram">Ram</span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <!-- grouper distinct value-->
            <div class="filter">
              {% for i in ram %}
              <a href="#" id="{{i.ram}}" name="ram" class="ram" value="{{i.ram}}">
              <span>{{i.ram}} GB</span>
              </a>
              {%endfor%}
            </div>
          </div>

          <div class="mr-2" id="filter">
            <div class=" waves-effect">
              <div class="text">
                <span class="text_memory">Memory</span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <div class="filter">
              {% for i in memory %}
              <a href="#" id="{{i.memory}}" class="memory" name="memory" value="{{i.memory}}">
              <span>{{i.memory}}GB</span>
              </a>
              {%endfor%}
            </div>
          </div>

          

          <div class=" mr-2" id="filter">
            <div class=" waves-effect">
              <div class="text">
                <span class="text_performance">Chip</span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <div class="filter">
              {% for i in chip %}
              <a href="#" id="{{i.chip}}" class="chip" name="chip"value="{{i.chip}}">
                <span>{{i.chip}}</span>
              </a>
              {%endfor%}
            </div>
          </div>

          <div class=" mr-2" id="filter">
            <div class=" waves-effect">
              <div class="text">
                <span class="text_battery">Battery</span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <div class="filter">
              {% for i in battery %}
              <a href="#" id="{{i.battery}}" class="battery" name="battery" value="{{i.battery}}">
                <span>{{i.battery}} mAh</span>
              </a>
              {%endfor%}
            </div>
          </div>

          <div class=" mr-2" id="filter">
            <div class=" waves-effect"> 
              <div class="text">
                <span class="text_price">Price</span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <div class="filter">
              <a href="#" id="price1" class="price text-dark" from="500" value="1000">500-1000 $</a>
              <a href="#" id="price2" class="price text-dark" from="1000" value="1500">1000-1500 $</a>
              <a href="#" id="price3" class="price text-dark" from="1500" value="2000">1500-2000 $</a>
              <a href="#" id="price4" class="price text-dark" from="2000" value="2500">2000-2500 $</a>
              <a href="#" id="price5" class="price text-dark" from="2500" value="3000">2500+ $</a>
            </div>

          </div>

          <div class=" mr-2" id="filter">
            <div class=" waves-effect">
              <div class="text">
                <span class="text_review"> Review </span>
                <i class="fa fa-caret-down ml-1"></i>
              </div>
            </div>
            <div class="filter">
              
              <a href="#" id="review" value='5' name="review_rating" class="review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <span class="star">5 star or more</span>
              </a>
              <a href="#" id="review" value='4' name="review_rating" class="review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <span class="star">4 star or more</span>
              </a>
              <a href="#" id="review3" value='3' name="review_rating" class="review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="star">3 star or more</span>
              </a>

              <a href="#" id="review2" value='2' name="review_rating" class="review">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="star">2 star or more</span>
              </a>
              <a href="#" id="review1" value='1' name="review_rating" class="review">
                <i class="fas fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <i class="far fa-star"></i>
                <span class="star">1 star or more</span>
              </a>
              
              
            </div>

          </div>
      </div>
     
      {% if products_count > 0 %}
      <div class="mt-2">
      <span class="pt-2">Found <b>{{ products_count }}</b> Items found
      </div>
      <div class="row" id="row">
        {% for item in page_item %}
        <div class="col col-lg-3 {{item.name}}"  data="{{ item.avaregereview |floatformat:0}}">
          <div class="carts">
            <a href="{{ item.get_absolute_url }}">
                <div class="image">
                  <img src="{{ item.image.url }}" class="card-img-top mt-3">    
                </div>
            </a>
            <div class=" text-center">
              <a href="{{ item.get_absolute_url }}" style="text-decoration: none"><span class="text-dark">{{ item.name }} </span></a>   
              <p style="font-size: 1rem;">$
                  {% if item.discount_price %}
                  {{ item.discount_price }}
                  {% else %}
                  {{ item.price }}
                  {% endif %}
              </p>
              
              <div class="product-rating">
                  <i class="{% if item.avaregereview < 0.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 1.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 2.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 3.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                  <i class="{% if item.avaregereview < 4.5%}far fa-star{% else %}fas fa-star{% endif%}"></i>
                      <!-- next line is for average value -->
                  {{ item.avaregereview |stringformat:".0f"}}
              </div>
            </div>

          </div>
        </div>
        {% endfor %}
      </div>
      {% else %}
      <div class="mt-1">
        <h5 class="mt-5">not found</h5>
        <img src="https://mangvn.org/uploads/news/2011_10/gs.jpg" alt="" width="400px">
        <div class="mt-3 ">
        <a href="{% url 'product:home' %}"> All product</a>
        </div>
      </div>
      {% endif %}
      
    </section>
  </div>
  <!--Section: Products v.3-->
  <!--Pagination-->
  <div class="pagination ">
    <span class="d-flex flex-row div">
      {% if page_item.has_previous %}
      <a class="mr-2 text-dark"
        href="{% url 'product:search' %}?query={{query}}&page={{page_item.previous_page_number}}">&laquo;</a>
      {% endif %}

      {% for i in page_item.paginator.page_range %}
      {% if page_item.number == i %}
      <div class="active mr-2">
        <span class="text-info">{{ i }} <span class="text-dark"></span></span>
      </div>
      {% else %}
      <div class="mr-2"><a class="text-dark" href="{% url 'product:search' %}?query={{query}}&page={{i}}">{{i}}</a>
      </div>
      {% endif %}
      {% endfor %}
      {% if page_item.has_next %}
      <a class="text-dark"
        href="{% url 'product:search' %}?query={{query}}&page={{page_item.next_page_number}}">&raquo;</a>
      {% endif %}
    </span>
  </div>
  
</main>
<script>

  function get(name) {
    if (name = (new RegExp('[?&]' + encodeURIComponent(name) + '=([^&]*)')).exec(location.search))  //location.search give query sling part
      return decodeURIComponent(name[1]);
  }

  // for getting url after applying ordering
  function finalurl() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('sorting', document.getElementById("sort_list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    location.href = new_url
    console.log(document.getElementById("sort_list").value)
  }

  // for getting url after applying price filtering
  function finalurl2() {
    var url = new URL(window.location.href);
    var search_params = url.searchParams;
    search_params.set('price_to', document.getElementById("price_list").value);
    url.search = search_params.toString();
    var new_url = url.toString();
    location.href = new_url
  }

// change link
</script>

<script>
let href = location.href
let ram = document.querySelectorAll('.ram')
let text_ram =  document.querySelector('.text_ram')
var url = new URL(window.location.href);
var search_params = url.searchParams;
for (let i = 0; i < ram.length; i++) {
  search_params.set('ram', ram[i].getAttribute('value'));
  url.search = search_params.toString();
  var new_url = url.toString();
  ram[i].setAttribute('href', new_url)
  if(ram[i].href === href){
  ram[i].classList.add('ram-active')
  text_ram.textContent=ram[i].textContent
  }
  ram[i].onclick=()=>{
  ram[i].classList.add('ram-active')
  text_ram.textContent=ram[i].textContent
  for  (let j = 0; j< ram.length; j++){
  if(i!==j){
  ram[j].classList.remove('ram-active')
  }
  }
  }
}



</script>

<script>
let text_battery =  document.querySelector('.text_battery')
let battery = document.querySelectorAll('.battery')
var url1 = new URL(window.location.href);
var search_params1 = url1.searchParams;
for (let i = 0; i < battery.length; i++) {
  search_params1.set('battery', battery[i].getAttribute('value'));
  url1.search = search_params1.toString();
  var new_url1 = url1.toString();
  battery[i].setAttribute('href', new_url1)
  if(battery[i].href === href){
  battery[i].classList.add('performance-active')
  text_battery.textContent=battery[i].textContent
  }
  battery[i].onclick=()=>{
  battery[i].classList.add('performance-active')
  text_battery.textContent=battery[i].textContent
  for  (let j = 0; j< battery.length; j++){
  if(i!==j){
  battery[j].classList.remove('performance-active')
  }
  }
  }
  }
</script>

<script>
let text_performance =  document.querySelector('.text_performance')
let performance = document.querySelectorAll('.performance')
var url2 = new URL(window.location.href);
var search_params2 = url2.searchParams;
for (let i = 0; i < performance.length; i++) {
  search_params2.set('performance', performance[i].getAttribute('value'));
  url2.search = search_params2.toString();
  var new_url2 = url2.toString();
  performance[i].setAttribute('href', new_url2)
  if(performance[i].href === href){
  performance[i].classList.add('performance-active')
  text_performance.textContent=performance[i].textContent
  }
  performance[i].onclick=()=>{
  performance[i].classList.add('performance-active')
  for  (let j = 0; j< performance.length; j++){
  if(i!==j){
  performance[j].classList.remove('performance-active')
  text_performance.textContent=performance[i].textContent
  }
  }
  }
}
</script>

<script>
let text_memory =  document.querySelector('.text_memory')
let memory = document.querySelectorAll('.memory')
var url3 = new URL(window.location.href);
var search_params3 = url3.searchParams;
for (let i = 0; i < memory.length; i++) {
  search_params3.set('memory', memory[i].getAttribute('value'));
  url3.search = search_params3.toString();
  var new_url3 = url3.toString();
  memory[i].setAttribute('href', new_url3)
  if(memory[i].href === href){
  memory[i].classList.add('memory-active')
  text_memory.textContent=memory[i].textContent
  }
  memory[i].onclick=()=>{
  memory[i].classList.add('memory-active')
  text_memory.textContent=memory[i].textContent
  for  (let j = 0; j< memory.length; j++){
  if(i!==j){
  memory[j].classList.remove('memory-active')
  }
  }
  }
}
</script>

<script>
let text_minotor =  document.querySelector('.text_minotor')
let minotor = document.querySelectorAll('.minotor')
var url4 = new URL(window.location.href);
var search_params4 = url4.searchParams;
for (let i = 0; i < minotor.length; i++) {
  search_params4.set('minotor', minotor[i].getAttribute('value'));
  url4.search = search_params4.toString();
  var new_url4 = url4.toString();
  minotor[i].setAttribute('href', new_url4)
  if(minotor[i].href === href){
  minotor[i].classList.add('minotor-active')
  text_minotor.textContent=minotor[i].textContent
  }
  minotor[i].onclick=()=>{
  minotor[i].classList.add('minotor-active')
  text_minotor.textContent=minotor[i].textContent
  for  (let j = 0; j< minotor.length; j++){
  if(i!==j){
  minotor[j].classList.remove('minotor-active')
  }
  }
  }
}
</script>

<script>
let x = document.querySelectorAll('.text')
let y = document.querySelectorAll('.filter')
let z = document.querySelectorAll('.fa-caret-down')
for (let i = 0; i < x.length; i++) {
  x[i].onclick = () => {
    for (let l = 0; l < z.length; l++) {
        for (let j = 0; j < y.length; j++) {
          if (i === j && i===l) {
            y[j].classList.toggle('filter-active')
            z[l].classList.toggle('fa-caret-up')
            for (let k = 0; k < y.length; k++) {
              for (let n=0;n<z.length;n++){
              if (k !== j && n !== l) {
                y[k].classList.remove('filter-active')
                z[n].classList.remove('fa-caret-up')
              }
            }
          }
        }
      }
    }
  }
}

</script>
<script>
//filter price
let text_price =  document.querySelector('.text_price')
price=document.querySelectorAll('.price')
var url5 = new URL(window.location.href);
var search_params5 = url5.searchParams;
for (let i = 0; i < price.length; i++) {
  search_params5.set('price_from', price[i].getAttribute('from'));
  search_params5.set('price_to', price[i].getAttribute('value'));
  url5.search = search_params5.toString();
  var new_url5 = url5.toString();
  price[i].setAttribute('href', new_url5)
  if(price[i].href === href){
  price[i].classList.add('price-active')
  text_price.textContent=price[i].textContent
  }
  price[i].onclick=()=>{
  price[i].classList.add('price-active')
  text_price.textContent=price[i].textContent
  for  (let j = 0; j< price.length; j++){
  if(i!==j){
  price[j].classList.remove('price-active')
  }
  }
  }
}
</script>
<script>
//filter review
let text_review =  document.querySelector('.text_review')
let review = document.querySelectorAll('.review')
let star = document.querySelectorAll('.star')
var url6 = new URL(window.location.href);
var search_params6 = url6.searchParams;
for (let i = 0; i < review.length; i++) {
  
  if(review[i].href === href){
  review[i].classList.add('review-active')
  text_review.textContent=star[i].textContent
  }
  review[i].onclick=()=>{
  review[i].classList.add('review-active')
  search_params6.set('review_rating', review[i].getAttribute('value'));
  url6.search = search_params6.toString();
  var new_url6 = url6.toString();
  location.href=new_url6
  text_review.textContent=star[i].textContent
  for  (let j = 0; j< review.length; j++){
  if(i!==j){
  review[j].classList.remove('review-active')
  }
  }
  }
}
</script>

{% endblock content %}