 {% load cart_template_tags %}
 {% load notify_user_tags %}
 
<div class="d-flex flex-column" id="navbar">
   
    <!-- Collapse -->
    <!-- Links -->
      <!-- Right -->
      <div class="d-flex  flex-row mx-5">
        <div class="d-flex container-lg flex-row justify-content-left py-2">
          <div class="nav-item">
            <a class=" waves-effect text-dark" href="{% url 'vendor:login_vendor' %}">
              <span class="clearfix d-none d-sm-inline-block"> Seller channel </span>
            </a>
          </div>
          <div class="nav-item row mx-3">
            <a class=" waves-effect text-dark mx-2" href="#">
              <span class="clearfix d-none d-sm-inline-block mx-2"> Dowload app </span>
              <span class="clearfix d-none d-sm-inline-block"> Conection </span>
            </a>
            <a class="waves-effect text-dark" href="#">
            <i class="fab fa-instagram"></i>
            </a>
            <a class="waves-effect text-dark mx-2" href="#">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a class="waves-effect text-dark" href="#">
              <i class="fab fa-twitter-square"></i>
            </a>
          </div>
        </div>
        <div class=" d-flex container-lg flex-row justify-content-end p-2 mx-2">
          <div class="nav-item row mx-3 " id="navs">
              <a class=" waves-effect text-dark" href="#">
                  <i class="far fa-bell"></i>
                  <span class="clearfix d-none d-sm-inline-block"> Notify </span>
              </a>
              {% if request.user.is_authenticated %}
              {% show_notifications %}
              {% endif %}
              <a class=" waves-effect text-dark ml-5" href="#">
                <i class="far fa-question-circle"></i>
                <span class="clearfix d-none d-sm-inline-block"> Suport </span>
              </a>
          </div>
          
          {% if request.user.is_authenticated %}
          <div class="nav-item ml-4" id="nav">
            <a href="#" class="waves-effect text-dark" >
              <img id="img-preview2" src='{{user.customer.image.url}}'/>
              <span class="d-sm-inline-block"> {{user}} </span>
              
            </a> 
            <div class="log">
                <a href="{% url 'app_user:logout' %}">
                  <span> Logout </span>
                </a>
    
                <a href="{% url 'app_user:order_success' %}">
                  <span> Order </span>
                </a>
    
                <a href="{% url 'app_user:profile' %}">
                  <span> Account </span>
                </a>
            </div>
          </div>
  
          {% else %}
          <div class="nav-item">
            <a class=" waves-effect text-dark" href="{% url 'app_user:signin' %}">
              <span class="clearfix d-none d-sm-inline-block"> Login </span>
            </a>
          </div>
          <div class="nav-item mx-2">
            <a class=" waves-effect text-dark" href="{% url 'app_user:signup' %}">
              <span class="clearfix d-none d-sm-inline-block"> Signup </span>
            </a>
          </div>
          {% endif %}
        </div>
      </div>
     
  
    <div class="d-flex  flex-row justify-content-around   pb-3">
      <div>
      <a class="navbar-brand waves-effect  text-dark" href="{% url 'product:home' %}">
        <strong class="white-text">DJe-commerce</strong>
      </a>
    </div>
      <form method="get" action="{% url 'product:search' %}">
        <div class="row">
         
            <input type="text" name="query" placeholder="Search for" class="ddd" value="{{ query }}">
         
            <button type="submit" class="search"><i class="fas fa-search"></i></button>
          
        </div>
      </form>
        {% if request.user.is_authenticated %}
       
        
        <ul class="navbar-nav nav-flex-icons">
          <div class="nav-item" id="cart_view">
            <a href="{% url 'order:order_summary' %}" class=" waves-effect text-dark" id="cart">
              <span class="badge counts">{{ request.user|cart_item_count }}</span>
              <i class="fa fa-shopping-cart"></i>
              <span class="clearfix d-none d-sm-inline-block"> Cart </span>
            </a>
            <div class="cart_view ">
              {% if request.user|cart_view %}
              {% for cart in request.user|cart_view %}
              
              <div class="d-flex flex-row justify-content-between m-1 align-items-center">
                <a href="{% url 'product:product' cart.product.slug %}">
                  <img src="{{cart.product.image.url}}"  height="80px" alt="" class="border p-1">
                </a>
                <span class="mx-2"><a href="{% url 'product:product' cart.product.slug %}">{{cart.product.item}}</a></span>
                <span class="mr-1">
                  ${{cart.price_item}}
                </span>
              </div>
              {% endfor %}
              
              <div class="d-flex flex-row-reverse">
                <span class="mr-1"> {{request.user|cart_item_total}}</span>
                <span class="mr-1">Total:</span>
              </div>     
              <div class="d-flex justify-content-end"><a href="{% url 'order:order_summary' %}" class="btn btn-primary btn-sm m-2">View Cart</a></div>
              {% else %}
              <div class="text-center"><span> No Product </span></div>
              {% endif %}
            </div>
          </div>
        </ul>
        {% endif %}
       
    </div>
</div>

<script>
  carts = document.querySelector('#cart_view')
   cart_view = document.querySelector('.cart_view')

  carts.onmouseover = () => {
    cart_view .classList.add('cart_view-active')
  }
  carts.onmouseout = () => {
    cart_view .classList.remove('cart_view-active')
  }
  cart_view .onmouseover = () => {
    cart_view .classList.add('cart_view-active')
  }

  cart_view .onmouseout = () => {
   cart_view .classList.remove('cart_view-active')
  }

  
  
  function showNotifications() {
    const container = document.getElementById('notification-container');
  
    if (container.classList.contains('d-none')) {
      container.classList.remove('d-none');
    } else {
      container.classList.add('d-none');
    }
  }
  
  function getCookie(name) {
      let cookieValue = null;
      if (document.cookie && document.cookie !== '') {
          const cookies = document.cookie.split(';');
          for (let i = 0; i < cookies.length; i++) {
              const cookie = cookies[i].trim();
              // Does this cookie string begin with the name we want?
              if (cookie.substring(0, name.length + 1) === (name + '=')) {
                  cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                  break;
              }
          }
      }
      return cookieValue;
  }
  
  function removeNotification(removeNotificationURL, redirectURL) {
    const csrftoken = getCookie('csrftoken');
    let xmlhttp = new XMLHttpRequest();
  
    xmlhttp.onreadystatechange = function() {
      if (xmlhttp.readyState == XMLHttpRequest.DONE) {
        if (xmlhttp.status == 200) {
          window.location.replace(redirectURL);
        } else {
          alert('There was an error');
        }
      }
    };
  
    xmlhttp.open("DELETE", removeNotificationURL, true);
    xmlhttp.setRequestHeader("X-CSRFToken", csrftoken);
    xmlhttp.send();
  }
  
  nav = document.querySelector('#nav')
   app_user = document.querySelector('.log')
  
  nav.onmouseover = () => {
    app_user.classList.add('log-active')
  }
  nav.onmouseout = () => {
    app_user.classList.remove('log-active')
  }
  app_user.onmouseover = () => {
    app_user.classList.add('log-active')
  }

  app_user.onmouseout = () => {
    app_user.classList.remove('log-active')
  }
</script>